[Desktop Entry]
Encoding=UTF-8
Version=0.4
Name=AutoDisconnect
Comment=Closes your idle connections & switch to 2G mode
Type=Application
Exec=/opt/autodisconnect/autodisconnect
Icon=autodisconnect
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Osso-Service=com.nokia.autodisconnect
