[Desktop Entry]
Encoding=UTF-8
Version=0.1-1
Type=Application
Name=AutoDisconnect
Exec=/opt/autodisconnect/autodisconnect
Icon=autodisconnect
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Osso-Service=com.nokia.autodisconnect
